.footer {
  color: white;
  background: black;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
  align-items: center;
}

.footer li {
  font-size: 1rem;
  margin: 0.2rem;
}

.footerLeft {
  text-align: left;
}

.footerRight {
  text-align: right;
}

.logo {
  height: 8.5rem;
  border-radius: 1rem;
}

@media (max-width:700px) {
  .footer {
    padding: 0.5rem;
  }
  .footer li {
    font-size: 0.8rem;
    margin: 0.2rem;
  }
  .footerRight p {
    font-size: 0.9rem;
  }
  .logo {
    height: 6.5rem;
  }
}