.accessoriesContainer {
  max-width: 1065px;
  margin: 0 auto;
}

.jewelryImgCont {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.jwlPic {
  border-radius: 1rem;
  margin-top: 1rem;
}

.accDesc {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.accTitle {
  color: rgb(174, 64, 165);
  font-size: 1.35rem;
  font-weight: bold;
}

.shoesFlexCont {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 2rem 0;
}

.accFlexDesc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.shoePic {
  height: 300px;
  border-radius: 1rem;
}

.umbPic {
  border-radius: 1rem;
  width: 18%;
  border: 0.3rem solid rgb(174, 64, 165);
  margin-bottom: 1.5rem;
}