.navBar {
  padding: 1.4rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1033px;
  background: white;
  position: fixed;
}

.navBar h1 {
  font-size: 2rem;
}

.nav {
  display: flex;
}

.navLink {
  font-size: 1rem;
  text-decoration: none;
  color: grey;
  margin-left: 1.5rem;
}

.navLink:hover {
  color: black;
}

.activeNavLink {
  color: black;
  font-weight: bold;
}