.ladiesContainer {
  max-width: 1065px;
  margin: 0 auto;
}

.ladiesFlexContainer {
  display: flex;
}

.ladiesFlexLeft {
  display: flex;
  flex-direction: column;
  width: 49%;
}

.ladiesFlexRight {
  width: 49%;
}

.brandLogo {
  width: 12rem;
  height: 4rem;
  border-radius: 1rem;
  border: 0.3rem solid rgb(174, 64, 165);
}

.logoLeft {

}

.logoRight {
  justify-content: right;
}