.App {
  text-align: center;
}

.navContainer {
  max-width: 1065px;
  margin: 0 auto;
}

.navSpace {
  height: 5.5rem;
}

@media (max-width:1100px) {
  .App {
    border: 2px solid red;
  }

  .navSpace {
    height: 4rem;
  }
}