.App {
  text-align: center;
  max-width: 1065px;
  margin: 0 auto;
}

.trainPic {
  width: 1065px;
}

.colorHeader {
  color: rgb(174, 64, 165);
  font-size: 2.7rem;
  font-weight: bold;
  margin: 1rem;
}

p {
  font-size: 1.3rem;
  margin: 0.5rem;
}

.homeContainer li {
  font-size: 1.3rem;
}

.alertBox {
  margin: 2rem;
}

.alert {
  font-size: 1.7rem;
  font-weight: bold;
  font-style: italic;
}

.hours {
  margin-bottom: 2rem;
}

.hours li {
  margin-bottom: 0.3rem
}

.facebook {
  font-size: 1.3rem;
  margin: 1.5rem
}

.facebook a {
  margin: 0 0.7rem;
  color: black;
}